
<div id="content-wrapper" class="ui-content-wrapper">
    <section>

        <!-- /.final. This file has been optimized & ready -->
        <!-- Validates if background image is null/empty -->
        <!-- Validates if background video is null/empty -->
        <!-- Set shape color to default "White" if null/empty -->
        <!-- Merge Main Release: Changeset 724330 to 728897 -->
        <div id="block-block" class="ui-container   row white c-left c-ui-delta" data-shape="delta" data-shape-color="white" data-show-top-line="False" data-scroll-speed="1" data-background-align="" data-background-cover="False" data-background-playerid="" data-background-mediaid="" data-background-playerform="" data-background-autoplay="False" data-background-autoloop="False" data-media-gallery-block="False" data-watch-link="" data-onplay="" style="min-height: 544px;">


            <div class="ui-content-box   bg-color-" style="padding: ">
                <section class="container-block">





                    <div class="col-sm-12">
                        <div class="col-sm-2 ">

                        </div>
                        <div class="col-sm-8 ">

                            <div class="component richtext">
                                <p style="font-size: 15px; font-family: arial; color: #333333;">By accessing and using this site, you accept the following terms and conditions, without limitation or qualification.</p>
                                <p style="font-size: 15px; font-family: arial; color: #333333;">Unless otherwise stated, the contents of this site including, but not limited to, the text and images contained herein and their arrangement are the property of Algro. All trademarks used or referred to in this website are the property of their respective owners.</p>
                                <p style="font-size: 15px; font-family: arial; color: #333333;">Nothing contained in this site shall be construed as conferring by implication, estoppel, or otherwise, any license or right to any copyright, patent, trademark or other proprietary interest of Algro or any third party. This site and the content provided in this site, including, but not limited to, graphic images, audio, video, html code, buttons, and text, may not be copied, reproduced, republished, uploaded, posted, transmitted, or distributed in any way, without the prior written consent of Algro, except that you may download, display, and print one copy of the materials on any single computer solely for your personal, non-commercial use, provided that you do not modify the material in any way and you keep intact all copyright, trademark, and other proprietary notices.</p>
                                <p style="font-size: 15px; font-family: arial; color: #333333;">The information provided on this site is free of charge and for informational purposes only and does not create a business or professional services relationship between you and Algro. Links on this site may lead to services or sites not operated by Algro. No judgment or warranty is made with respect to such other services or sites and Algro takes no responsibility for such other sites or services. A link to another site or service is not an endorsement of that site or service. Any use you make of the information provided on this site, or any site or service linked to by this site, is at your own risk.</p>
                                <p style="font-size: 15px; font-family: arial; color: #333333;">This site and its contents are provided "as is" and Algro makes no representation or warranty of any kind with respect to this site or any site or service accessible through this site. Algro expressly disclaims all express and implied warranties including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, title, and non-infringement. In no event will either Algro or its third-party service providers be liable to any party for any direct, indirect, incidental, special, exemplary, consequential, or other damages (including, but not limited to, lost profits, business interruption, loss of programs or data) without regard to the form of action and whether in contract, tort, negligence, strict liability, or otherwise, arising out of or in connection with this site, any content on or accessed through this site or any site service linked to, or any copying, displaying, or use thereof.</p>
                                <p style="font-size: 15px; font-family: arial; color: #333333;">Algro maintains this site in Illinois, U.S.A. and you agree that these terms of use and any legal action or proceeding relating to this site shall be governed by the laws of the State of Illinois without reference to its choice of law rules. If you attempt to bring any legal proceedings against Algro you specifically acknowledge that Algro is free to choose the jurisdiction of our preference as to where such action against us may be held. As you have agreed by using this site to choose the laws of the State of Illinois to govern any such proceedings, we will probably choose to defend any such action in Illinois and we can make this decision entirely as it suits us, without regard to where in the world you are located, or from where in the world you visited this site.</p>
                                <p style="font-size: 15px; font-family: arial; color: #333333;">You are responsible for complying with the laws of the jurisdiction from which you are accessing this site and you agree that you will not access or use the information on this site in violation of such laws. Unless expressly stated otherwise herein, any information submitted by you through this site shall be deemed non-confidential and non-proprietary. You represent that you have the lawful right to submit such information and agree that you will not submit any information unless you are legally entitled to do so. Because of the open nature of the Internet, we recommend that you not submit information you consider confidential.</p>
                                <p style="font-size: 15px; font-family: arial; color: #333333;">Algro does not accept unauthorized idea submissions outside of established business relationships. To protect the interests of our current clients and ourselves, we must treat the issue of such submissions with great care. Importantly, without a clear business relationship, Algro cannot and does not treat any such submissions in confidence. Accordingly, please do not communicate unauthorized idea submissions to Algro through this website. Any ideas disclosed to Algro outside a pre-existing and documented confidential business relationship are not confidential and Algro may therefore develop, use and freely disclose or publish similar ideas without compensating you or accounting to you. Algro will make every reasonable effort to return or destroy any unauthorized idea submissions without detailed review of them. However, if a review is necessary in Algro's sole discretion, it will be with the understanding that Algro assumes no obligation to protect the confidentiality of your idea or compensate you for its disclosure or use. By submitting an idea or other detailed submission to Algro through this website, you agree to be bound by the terms of this stated policy.</p>
                                <p style="font-size: 15px; font-family: arial; color: #333333;">Apple, iPad, iPhone, iPod touch, and iTunes are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.</p>
                            </div>
                        </div>
                        <div class="col-sm-2 ">

                        </div>
                    </div>

                </section>
            </div>
        </div>





        <div id="block-footer" class="ui-container color-container row c-right c-ui-edge" data-shape="" data-shape-color="full-black" data-scroll-speed="1" data-background-video="" data-background-image="url('')" style="min-height: 471px;">
            <div class="ui-content-box inline not-printable visible-lg visible-md visible-sm">
                <section class="container-block">
                    <div class="col-sm-12">

                        <div>
                            <span>
                                <label style="color:white; font-size:15px;">Local:&nbsp;</label>
                                <span>

                                    <a class="phone-LocalPhoneNumber" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:footer" href="callto://13128425012">+1 (312) 842-5012</a>
                                </span>
                                <label style="color:white; font-size:15px;">Toll Free:&nbsp;</label>
                                <span>

                                    <a class="phone-TollFreeHotLine" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:footer" href="callto://18778899009">1 (877) 889-9009</a>
                                </span>
                            </span>
                            <div class="social">
                                <a class="acn-spr facebook" title="Follow us on Facebook" href="http://www.facebook.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="Follow us on Facebook"></a>
                                <a class="acn-spr linkedin" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="Follow us on LinkedIn"></a>
                                <a class="acn-spr twitter" title="Follow us on Twitter" href="http://www.twitter.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="Follow us on Twitter"></a>
                                <a class="acn-spr youtube" title="See Algro on YouTube" href="http://www.youtube.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="See Algro on Youtube"></a>
                                </div>
                            <div>
                                <div class="footer-textlink">
                                    <span>

                                        <a style="color:white; font-size:15px;" href="/in-en/company" title="About Algro" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">About Algro</a>&nbsp;&nbsp;

                                    </span>
                                    <span>

                                        <a style="color:white; font-size:15px;" href="/in-en/contact-us" title="Contact Us" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Contact Us</a>&nbsp;&nbsp;

                                    </span>
                                    <span>

                                        <a style="color:white; font-size:15px;" href="/in-en/office-directory" title="Find a Location" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Find a Location</a>&nbsp;&nbsp;

                                    </span>
                                </div>
                                <div class="footer-textlink">
                                    
                                    <span style="">

                                        <a style="color:white; font-size:15px;" href="/in-en/terms-of-use" title="Terms of Use" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Terms of Use</a>&nbsp;&nbsp;
                                    </span>
                                    <span style="">

                                        <a style="color:white; font-size:15px;" href="/in-en/careers" title="Careers" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Careers</a>&nbsp;&nbsp;
                                    </span>
                                </div>
                            </div>

                            <div id="disclaimer-copyright" class="color-white" style="font-size:15px;">
                                <p class="footer-copyright"><span>©&nbsp;</span><span>2018 </span><span>Algro INC. All Rights Reserved.</span></p>
                                <br>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
            <div class="ui-content-box inline not-printable visible-xs">
                <section class="container-block">
                    <div class="col-sm-12">




                        <div>
                            <div>
                                <div>
                                    <a href="/in-en/company" id="footer-contacts" tabindex="-1" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer">
                                        <span class="icons-links" style="display: inline-block;width: 18px;"></span>
                                        <span style="color:white; font-size:15px;">About Algro</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="/in-en/contact-us" id="footer-contacts" tabindex="-1" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer">
                                        <span class="icons-links__icon-contact"></span>
                                        <span style="color:white; font-size:15px;">Contact Us</span>
                                    </a>
                                </div>
                                
                                <div class="mobile-footer-contacts">
                                    <div>
                                        <label style="color:white; font-size:15px;">Local:&nbsp;</label>
                                        <span><a class="phone-LocalPhoneNumber" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer" href="callto://13128425012">+1 (312) 842-5012</a></span>
                                    </div>
                                    <div>
                                        <label style="color:white; font-size:15px;">Toll Free:&nbsp;</label>
                                        <span><a class="phone-TollFreeHotLine" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer" href="callto://18778899009">1 (877) 889-9009</a></span>
                                    </div>
                                </div>
                                <div class="social">
                                    <a class="acn-spr facebook" title="Follow us on Facebook" href="http://www.facebook.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="Follow us on Facebook"></a>
                                    <a class="acn-spr linkedin" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="Follow us on LinkedIn"></a>
                                    <a class="acn-spr twitter" title="Follow us on Twitter" href="http://www.twitter.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="Follow us on Twitter"></a>
                                    <a class="acn-spr youtube" title="See Algro on YouTube" href="http://www.youtube.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="See Algro on Youtube"></a>
                                    </div>
                                <div id="footer-textlink">
                                    <ul id="mobile-textlink">
                                        <li class="withbordertextlink"><a href="/in-en/privacy-policy" title="Privacy Policy" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer"><span style="color:; font-size:15px;">Privacy Policy</span></a></li>
                                        <li class="withbordertextlink"><a href="/in-en/terms-of-use" title="Terms of Use" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer"><span style="color:; font-size:15px;">Terms of Use</span></a></li>
                                        <li class="withbordertextlink"><a href="/in-en/careers" title="Careers" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer"><span style="color:; font-size:15px;">Careers</span></a></li>
                                    </ul>
                                </div>

                                <div id="disclaimer-copyright" class="color-white" style="font-size:15px;">
                                    <p class="footer-copyright"><span>©&nbsp;</span><span>2018 </span><span>Algro. All Rights Reserved.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>



       
    </section>
</div>
