
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="block-hero" class="ui-header color-container bg-color-active" data-shape="" data-shape-color="">

    <div class="hero-article">

        <div class="item active background img-align-middle disableParallax" data-image-override="" data-mobile-image="" data-background-image="" style="height: 741.5px;">
            <section>
                <div class="hero-title-wrapper">
                    <div class="page-title">
                        <h1 class="">EVENTS</h1>


                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


    <div id="block-what-we-think" class="ui-container   row white c-left c-ui-square tv-tween--go">
        <div class="ui-content-box inline  bg-color-">
            <div class="col-sm-12">
                <h2 class="interactive-block-header">
                    EVENTS
                </h2>

            </div>


        </div>


    </div>
