@{
   
    ViewBag.Title = "Home Page";
}
<style>
    #block-hero.bg-color-active {
   background: #68b!important;
}
#block-hero {
    max-height: 535px!important;
    overflow-y: hidden;
}
</style>


<div id="block-hero" class="ui-header color-container bg-color-active" data-shape="" data-shape-color="">

    <div class="hero-article">

        <div class="item active background img-align-middle disableParallax" data-image-override="" data-mobile-image="" data-background-image="" style="height: 741.5px;">
            <section>
                <div class="hero-title-wrapper">
                    <div class="page-title">
                        @*<div class="flash_home" style="z-index:1;">
                            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" wmode="transparent" width="943" height="176">
                                <param name="movie" value="../images/flash.swf">
                                <param name="quality" value="high">
                                <param name="wmode" value="transparent">
                                <param name="menu" value="false">
                                <embed src="../images/flash.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" width="943" height="176">
                            </object>
                        </div>*@
                    </div>
                </div>
            </section>
        </div>

    </div>

   
</div> 

<div id="block-newappliednow" class="ui-container   row-wide  clear-float white c-left c-ui-square last-square" data-shape="square" data-shape-color="white" data-show-top-line="False" data-scroll-speed="1" data-background-align="" data-background-cover="False" data-background-playerid="" data-background-mediaid="" data-background-playerform="" data-background-autoplay="False" data-background-autoloop="False" data-media-gallery-block="False" data-watch-link="" data-onplay="">


    <div class="ui-content-box inline top bg-color-" style="margin-top : 10px !important; margin-bottom : 8px !important; padding-bottom : 0 !important">
        <section class="container-block">





            <div class="col-sm-12">
                <div class="col-sm-12 ">

                    <div class="adjacent-tiles-container" data-loaded-rows-count="50" data-enable-view-more="false">





                        <div class="col-sm-12" style="display: block;">
                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">







                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background-image:url(../images/latest-thinking-1x2.png);">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/Services/business_technology" title="BY BUSINESS NEED">BY BUSINESS NEED</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/Services/business_technology" title="Business Technology">Business Technology</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>





                                            
                                        </div>
                                    </div>
                                </div>


                            </div>
                            
                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">







                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background:#00aa99;">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="/in-en/company-india-spotlight" title="CONSULTING SERVICES">CONSULTING SERVICES</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/Services/technology_transformation" title="Technology Transformation">Technology Transformation</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">







                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background:#66aa44;">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/Services/application_outsourcing" title="OUTSOURCING SERVICES">OUTSOURCING SERVICES</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/Services/application_outsourcing" title="Application Outsourcing">Application Outsourcing</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>



                        
                    </div>

                </div>
            </div>


            <div class="col-sm-12">
                <div class="col-sm-12 ">

                    <div class="adjacent-tiles-container" data-loaded-rows-count="50" data-enable-view-more="false">
                        <div class="col-sm-12" style="display: block;">
                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">







                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background:#00bbee;">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/Services/application_development_integration" title="TECHNOLOGY SERVICES">TECHNOLOGY SERVICES</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/Services/application_development_integration" title="TECHNOLOGY SERVICES">Application Development & Integration</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">







                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background:#336699;">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/Insights/success_stories" title="Insights & Resources">Insights & Resources</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/Insights/success_stories" title="Success Stories">Success Stories</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">







                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background:#e8e8e8;">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/Insights/news_letters" title="Insights & Resources">Insights & Resources</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/Insights/news_letters" title="News and Updates">News and Updates</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        </div>

                </div>
            </div>


            <div class="col-sm-12">
                <div class="col-sm-12 ">

                    <div class="adjacent-tiles-container" data-loaded-rows-count="50" data-enable-view-more="false">
                        <div class="col-sm-12" style="display: block;">
                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">







                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background:#008899;">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/News/news" title="News & Events">News & Events</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/News/news" title="News">News</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">

                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background:linear-gradient(110deg, #006980 0%, #008b80 100%);">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/News/news" title="News & Events">News & Events</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/News/events" title="Events">Events</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">

                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background:linear-gradient(110deg, #ff8f00 0%, #ce1f00 100%)">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/News/newsroom" title="News & Events">News & Events</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/News/newsroom" title="Newsroom">Newsroom</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12 ">

                    <div class="adjacent-tiles-container" data-loaded-rows-count="50" data-enable-view-more="false">
                        <div class="col-sm-12" style="display: block;">
                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">







                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background-image:url(../images/Accenture-What-we-think-background.png);">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/About/vision_mission" title="INTRODUCTION TO ALGRO">INTRODUCTION TO ALGRO</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/About/vision_mission" title="Vision & Mission">Vision & Mission</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">

                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background:#99cccc;">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/About/corporate_responsibilty_sustainability" title="WHERE WE ARE">WHERE WE ARE</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/About/corporate_responsibilty_sustainability" title="Corporate Responsibilty-sustainability">Corporate Responsibilty-sustainability</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-4 " style="overflow: hidden;">

                                <div class="adjacent-tiles zoom-onhover" data-position="2">

                                    <div class="articles" data-tile-height="342px" style="height: 342px;">

                                        <!--  CARD TYPES -->
                                        <div class="image-box" data-card-type="Image" data-color-bg="" style="background-image:url(../images/Accenture-Banking-What-We-Think-Background.png);">
                                            <!--  Mp4 Video -->
                                            <video class="mp4Bg" playsinline="" autoplay="" loop="">
                                                <source type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="card card-container fixed-width transparent-opacity cardh-middle cardv-middle" data-cardcolor="to top, white, white " data-card-width="fixed-width" style="background-image: linear-gradient(to top, white, white )">
                                            <p class="cardTitle ucase with-animation">
                                                <a></a><a href="~/About/careers" title="Careers">Careers</a>
                                            </p>
                                            <div class="card-wrapper">
                                                <h2 class="headline"><a></a><a href="~/About/careers" title="Careers">Careers</a></h2>
                                                <p class="subHeadline"></p>

                                            </div>






                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>




