
@{
    ViewBag.Title = "Application Outsourcing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="block-hero" class="ui-header color-container bg-color-active" data-shape="" data-shape-color="">

    <div class="hero-article">

        <div class="item active background img-align-middle disableParallax" data-image-override="" data-mobile-image="" data-background-image="" style="height: 741.5px;">
            <section>
                <div class="hero-title-wrapper">
                    <div class="page-title">
                        <h1 class="">APPLICATION OUTSOURCING</h1>


                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
      
            <div id="block-what-we-think" class="ui-container   row white c-left c-ui-square tv-tween--go">
                <div class="ui-content-box inline  bg-color-">
                    <div class="col-sm-12">
                        <h2 class="interactive-block-header">
                            APPLICATION OUTSOURCING
                        </h2>
                        <p>
                            Algro Application Outsourcing services provide IT solutions that support organizational needs, enabling you to minimize costs, improve efficiency and create a competitive advantage.

                        </p>
                    </div>

                </div>
           
        
            <div class="col-sm-12">
                <div class="featured-section-module module-article component">
                    <h4>What We Offer</h4>


                    <p>
                        <strong><a href="#" title="Application Management">Application Management</a></strong><br>
                        Application  outsourcing can reduce costs and increase the value of your IT investments
                    </p>
                    <p>
                        <strong><a href="#" title="Application Development">Application Development</a></strong><br>
                        We offer a way  to evolve into Service-Oriented Enterprises at your own pace
                    </p>
                    <p>
                        <strong><a href="#" title="Application Modernization">Application Modernization</a></strong><br>
                        We help you  optimize the value of past IT investments, reduce the complexity of their  application portfolio and lower costs
                    </p>
                    <p>
                        <strong><a href="#" title="Application Portfolio Strategy">Application Portfolio Strategy</a></strong><br>
                        How much you  spend on IT is less important than what you spend it on
                    </p>
                    <p>
                        <strong><a href="#" title="Application Testing">Application Testing</a></strong><br>
                        Reduce your  costs and incorporate outsourcing into your operations with minimal ris
                    </p>


                </div>
            </div>
        
</div>


