
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Algro :: Innovative IT and Business Solutions ::</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="../images/logo_icon.gif">

    <link href="~/Content/periwinkle-blue.min.css" rel="stylesheet" />
    <link href="~/Content/contactus.css" rel="stylesheet" />


    <style>
        /*  #block-what-we-think .acn-icon.icon-share, #block-what-we-think .countText.clickable, #block-what-we-think .module-article h4, #block-what-we-think .title.clickable, #block-what-we-think .featured-section-module a, #block-what-we-think .featured-section-module a:hover, #block-what-we-think .featured-section-module-carousel.interactive-fsm .cta.featured-section-article-link.center {
        color: #7E00FF !important;}*/
        #block-what-we-think .module-article li {
            margin: 5px 0;
        }

        #block-what-we-think .module-article ul {
            list-style: none;
        }
    </style>
</head>
<body id="body-id">
    <div id="ui-wrapper" style="position:relative;">


        @Html.Partial("Header")











        <div id="block-hero" class="ui-header color-container bg-color-active" data-shape="rect" data-shape-color="active">

            <div class="hero-header">


                

            </div>
            <!--[3/20/15] Merge 2/25 from Main Release Branch-->
            <div class="hero-article">

                <div class="item active background img-align-middle parallax" data-image-override="" data-mobile-image="" data-background-image="" style="height: 804.5px;">
                    <section>
                        <div class="hero-title-wrapper">
                            <div class="page-title">
                                <h1 class="" id="maincontent-hero" tabindex="-1">Careers</h1>
                                
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>



        <div id="layout-wrapper" class="ui-layout-wrapper">
            <div id="overflow-controller" style="margin-top: -544px; padding-top: 272px; height: 743px;">
            </div>

        </div>





        <div id="content-wrapper" class="ui-content-wrapper">
            <section>

                <!-- /.final. This file has been optimized & ready -->
                <!-- Validates if background image is null/empty -->
                <!-- Validates if background video is null/empty -->
                <!-- Set shape color to default "White" if null/empty -->
                <!-- Merge Main Release: Changeset 724330 to 728897 -->
                <div id="block-block" class="ui-container   row white c-left c-ui-delta" data-shape="delta" data-shape-color="white" data-show-top-line="False" data-scroll-speed="1" data-background-align="" data-background-cover="False" data-background-playerid="" data-background-mediaid="" data-background-playerform="" data-background-autoplay="False" data-background-autoloop="False" data-media-gallery-block="False" data-watch-link="" data-onplay="" style="min-height: 544px;">


                    <div class="ui-content-box   bg-color-" style="padding: ">
                        <section class="container-block">





                            <div class="col-sm-12">
                                <div class="col-sm-2 ">

                                </div>
                                <div class="col-sm-8 ">

                                    <div class="component richtext">
                                        <p style="font-size: 15px; font-family: arial; color: #333333;">Algro is always in the market for hiring passionate, smart and extraordinary individuals to help bring us to a higher level of success. At Algro, you will work with some of the most skillful and talented people in the industry, working together to produce the most exciting and challenging projects in the world. If you share our goals, and are skilled in one or more of the following areas, we want to hear from you.</p>
                                        <p style="font-size: 15px; font-family: arial; color: #333333;">Please submit your resume: careers@algroinc.com</p>            </div>
                                </div>
                                <div class="col-sm-2 ">

                                </div>
                            </div>

                        </section>
                    </div>
                </div>





                <div id="block-footer" class="ui-container color-container row c-right c-ui-edge" data-shape="" data-shape-color="full-black" data-scroll-speed="1" data-background-video="" data-background-image="url('')" style="min-height: 471px;">
                    <div class="ui-content-box inline not-printable visible-lg visible-md visible-sm">
                        <section class="container-block">
                            <div class="col-sm-12">

                                <div>
                                    <span>
                                        <label style="color:white; font-size:15px;">Local:&nbsp;</label>
                                        <span>

                                            <a class="phone-LocalPhoneNumber" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:footer" href="callto://13128425012">+1 (312) 842-5012</a>
                                        </span>
                                        <label style="color:white; font-size:15px;">Toll Free:&nbsp;</label>
                                        <span>

                                            <a class="phone-TollFreeHotLine" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:footer" href="callto://18778899009">1 (877) 889-9009</a>
                                        </span>
                                    </span>
                                    <div class="social">
                                        <a class="acn-spr facebook" title="Follow us on Facebook" href="http://www.facebook.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="Follow us on Facebook"></a>
                                        <a class="acn-spr linkedin" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="Follow us on LinkedIn"></a>
                                        <a class="acn-spr twitter" title="Follow us on Twitter" href="http://www.twitter.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="Follow us on Twitter"></a>
                                        <a class="acn-spr youtube" title="See Algro on YouTube" href="http://www.youtube.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footermodule:exit" aria-label="See Algro on Youtube"></a>
                                    </div>
                                    <div>
                                        <div class="footer-textlink">
                                            <span>

                                                <a style="color:white; font-size:15px;" href="~/Home/Index" title="About Algro" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">About Algro</a>&nbsp;&nbsp;

                                            </span>
                                            <span>

                                                <a style="color:white; font-size:15px;" href="~/About/contactus" title="Contact Us" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Contact Us</a>&nbsp;&nbsp;

                                            </span>
                                            <span>

                                                <a style="color:white; font-size:15px;" href="~/About/Location" title="Find a Location" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Find a Location</a>&nbsp;&nbsp;

                                            </span>
                                        </div>
                                        <div class="footer-textlink">

                                            <span style="">

                                                <a style="color:white; font-size:15px;" href="~/About/termsuse" title="Terms of Use" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Terms of Use</a>&nbsp;&nbsp;
                                            </span>
                                            <span style="">

                                                <a style="color:white; font-size:15px;" href="~/About/careers" title="Careers" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="footer">Careers</a>&nbsp;&nbsp;
                                            </span>
                                        </div>
                                    </div>

                                    <div id="disclaimer-copyright" class="color-white" style="font-size:15px;">
                                        <p class="footer-copyright"><span>©&nbsp;</span><span>2018 </span><span>Algro INC. All Rights Reserved.</span></p>
                                        <br>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                    <div class="ui-content-box inline not-printable visible-xs">
                        <section class="container-block">
                            <div class="col-sm-12">




                                <div>
                                    <div>
                                        <div>
                                            <a href="~/Home/Index" id="footer-contacts" tabindex="-1" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer">
                                                <span class="icons-links" style="display: inline-block;width: 18px;"></span>
                                                <span style="color:white; font-size:15px;">About Algro</span>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="~/About/contactus" id="footer-contacts" tabindex="-1" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer">
                                                <span class="icons-links__icon-contact"></span>
                                                <span style="color:white; font-size:15px;">Contact Us</span>
                                            </a>
                                        </div>

                                        <div class="mobile-footer-contacts">
                                            <div>
                                                <label style="color:white; font-size:15px;">Local:&nbsp;</label>
                                                <span><a class="phone-LocalPhoneNumber" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer" href="callto://13128425012">+1 (312) 842-5012</a></span>
                                            </div>
                                            <div>
                                                <label style="color:white; font-size:15px;">Toll Free:&nbsp;</label>
                                                <span><a class="phone-TollFreeHotLine" style="color:white; font-size:15px" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer" href="callto://18778899009">1 (877) 889-9009</a></span>
                                            </div>
                                        </div>
                                        <div class="social">
                                            <a class="acn-spr facebook" title="Follow us on Facebook" href="http://www.facebook.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="Follow us on Facebook"></a>
                                            <a class="acn-spr linkedin" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="Follow us on LinkedIn"></a>
                                            <a class="acn-spr twitter" title="Follow us on Twitter" href="http://www.twitter.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="Follow us on Twitter"></a>
                                            <a class="acn-spr youtube" title="See Algro on YouTube" href="http://www.youtube.com/Algroindia" target="_blank" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:exit" aria-label="See Algro on Youtube"></a>
                                        </div>
                                        <div id="footer-textlink">
                                            <ul id="mobile-textlink">
                                                <li class="withbordertextlink"><a href="~/About/Location" title="Terms of Use" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer"><span style="color:; font-size:15px;">Find a Location</span></a></li>

                                                <li class="withbordertextlink"><a href="~/About/termsuse" title="Terms of Use" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer"><span style="color:; font-size:15px;">Terms of Use</span></a></li>
                                                <li class="withbordertextlink"><a href="~/About/careers" title="Careers" data-rel="cc32db4e-74bf-459e-b39f-afd2b2d774f8" data-name="asset" data-linktype="mobilefooter-preview-mode:footer"><span style="color:; font-size:15px;">Careers</span></a></li>
                                            </ul>
                                        </div>

                                        <div id="disclaimer-copyright" class="color-white" style="font-size:15px;">
                                            <p class="footer-copyright"><span>©&nbsp;</span><span>2018 </span><span>Algro. All Rights Reserved.</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>




            </section>
        </div>


    </div>
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript">

    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript">

    </script>
    <script src="~/Scripts/bootstrap.js" type="text/javascript">

    </script>
    <script src="~/Scripts/respond.js" type="text/javascript">

    </script>
    <script src="~/Scripts/utility.js" type="text/javascript">

    </script>
    <script src="~/Scripts/prebody.js" type="text/javascript">

    </script>
    <script src="~/Scripts/postbody.js" type="text/javascript">

    </script>
</body>
</html>

