
@{
    ViewBag.Title = "Vision Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="block-hero" class="ui-header color-container bg-color-active" data-shape="" data-shape-color="">

    <div class="hero-article">

        <div class="item active background img-align-middle disableParallax" data-image-override="" data-mobile-image="" data-background-image="" style="height: 741.5px;">
            <section>
                <div class="hero-title-wrapper">
                    <div class="page-title">
                        <h1 class="">Introduction to Algro</h1>


                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

    <div id="block-what-we-think" class="ui-container   row white c-left c-ui-square tv-tween--go">
        <div class="ui-content-box inline  bg-color-">
            <div class="col-sm-12">
                <h2 class="interactive-block-header">
                    About Us
                </h2>
                <p>Algro is a fast growing provider of management and technology consulting services and solutions. Our founders and technical experts have deep industry and business process 		expertise and hands-on experience with large complex enterprise change. We believe that in times of growing complexity and decreasing investments, ensuring early IT planning is 		essential for developing reliable solutions. Since inefficient processes and long downtimes can result in tremendous losses, companies need a clear offering that fulfills their business and 		IT needs in terms of both quality and price..</p>
            </div>


        </div>


   
    <div class="col-sm-12">
        <div class="featured-section-module module-article component">
            
                    <h2>Our Vision</h2>
                    <p>
                        Deliver solutions that enable our clients to become high-performance businesses
                        Measure our success through our partner's satisfaction and realization of their business objectives.
                    </p>
                    <h2>Expertise</h2>
                    <p>
                        Provide innovative business &amp; IT solutions, technical staffing, and consulting services.<br>
                        Develop IT and business solutions for clients, including SAP and Open Source Technologies implementation.
                    </p>
                    <h2>The Management</h2>
                    <p>Algro management has several decades of combined experience that make it all happen. All members have working expereince at 500 "Fortune Companies" and possess 	 international hands-on experience. Educationally, all members have either Masters degree in Engineering or MBA with various certifications and trainings.</p>
                    <p>&nbsp;</p>
               


        </div>
    </div>
</div>


